<ion-view view-title="志趣" >
	<style type="text/css">
	#con{
		background: #f1f1f1;
	}
	.box{
		width: 100%;
		height: 6.85rem;
		margin-bottom: 0.15rem;
	}
	.img{
		width: 100%;
		height: 5.5rem;
	}
	.img img{
		width: 100%;
		height: 100%;
	}
	.time_box{
		width: 100%;
		height: 1.35rem;
		background: #fff;
	}
	.time{
		font-size: 0.25rem;
		line-height: 1.35rem;
		text-align: center;
	}
	.time:before,.time:after{
		content: "━";
		padding: 0.2rem;
		color: #aeaeae;
		font-size: 0.3rem;
	}
	</style>
	<!-- <div class="bar bar-header"><h1 class="title">志趣</h1></div> -->
	<ion-content class="content has-header" id="con">
		<div class="box">
			<div class="img"><img src="../img/interest/2.png" /></div>
			<div class="time_box">
				<p class="time">08月15日</p>
			</div>
		</div>
		<div class="box">
			<div class="img"><img src="../img/interest/1.png" /></div>
			<div class="time_box">
				<p class="time">08月15日</p>
			</div>
		</div>
		<div class="box">
			<div class="img"><img src="../img/interest/2.png" /></div>
			<div class="time_box">
				<p class="time">08月15日</p>
			</div>
		</div>
		<div class="box">
			<div class="img"><img src="../img/interest/1.png" /></div>
			<div class="time_box">
				<p class="time">08月15日</p>
			</div>
		</div>
		<div class="box">
			<div class="img"><img src="../img/interest/2.png" /></div>
			<div class="time_box">
				<p class="time">08月15日</p>
			</div>
		</div>
	</ion-content>
</ion-view>
